
.container {
    text-align: center;
    margin: 20px auto;
  }
  
  .product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    height: 300px;
    /* box-shadow: 0px 0xp 10px black; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .link{
    text-decoration: none;
    color:black;
  }
  

.shimmer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shimmer {
  width: 300px; 
  height: 300px;
  background-image: linear-gradient(
    90deg,
    #f0f0f0 25%,
    #e0e0e0 50%,
    #f0f0f0 75%
  );
  background-size: 400% 100%;
  animation: shimmerAnimation 1.5s infinite linear;
  border-radius: 8px;
}

@keyframes shimmerAnimation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
